/* Global Styles */
a:hover,
a:focus {
  text-decoration: none;
}
/* Breadcrumb */
/* @TODO: Remove if breadcrumb won't be used. */
.breadcrumb {
  border: 0;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumb li:before {
  content: ' \BB ';
}
.breadcrumb li:first-child:before {
  content: none;
}
/* Top Widget Blocks */
.topwidget {
  padding: 20px 0;
}
.topwidget .block {
  padding: 20px;
  transition: 0.4s;
}
.topwidget .block:hover {
  background: #DEDEDE;
}
.topwidget .fa {
  margin-bottom: 0;
}
/* Bottom Widget Blocks */
.bottom-widgets .region {
  transition: 0.4s;
}
.bottom-widgets .region:hover {
  background: #fff;
}
/* Blog Articles Lists */
.blog-list article,
.terms-list article,
.monthly-archive article {
  min-height: 300px;
}
.blog-list img,
.terms-list img,
.monthly-archive img {
  float: left;
  padding-right: 15px;
}
/* Blog Tags */
.blog-tags {
  margin-bottom: 25px;
}
.blog-tags .blog-tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0;
  background: #2e2e2e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.blog-tags .blog-tag a {
  color: #D0D0D0;
}
.blog-tags .blog-tag a:hover {
  color: #fff;
}
/* Related Content Block */
.related-content {
  background-color: #2e2e2e;
  padding: 5px;
}
.related-content h2 {
  background: #FBFBFB;
  padding: 5px;
  margin: 0;
}
.related-content h2 a {
  color: #2e2e2e;
  display: block;
}
.related-content .next-story {
  background: #000;
  padding: 5px 0 0;
  text-align: right;
}
.related-content .next-story a {
  color: #fff;
  display: block;
}
.related-content a:hover {
  color: #ccc;
}
/* Monthly Archive block */
.block-views-blockarchive-monthly-archive ul {
  list-style-type: none;
  padding: 0;
}
/* Services List */
.services article {
  min-height: 300px;
}
.services img {
  float: left;
  padding-right: 15px;
}
/* Service Card */
.service-card {
  background-color: #eee;
  padding: 1px 25px 1px 25px;
  min-height: 295px;
  margin-bottom: 25px;
}
.service-card img {
  float: left;
  padding-right: 15px;
}
/* Contact Form */
.path-contact h1 {
  text-align: center;
}
/* reCAPTCHA */
.g-recaptcha {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
/* Add2Any */
.a2a_kit {
  display: block;
  margin-bottom: 25px;
}
/* Customer Logos Carousel */
.carousel-inner>.item>img {
  margin-bottom: 10px;
}

